@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-style: normal;
    font-family: 'Roboto';
    border: none;
    outline: none;
}

*:focus {
    border: none;
    outline: none;
}

img {
    display: block;
}
.mobile {
    max-width: 370px;
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 10px 6px 30px;
    background: #000;
    position: relative;
    overflow: hidden;
    height: 90vh;
}